<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>about</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="works">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2 class="red">Biografía</h2>
    <div class="row">
        <div class="absolute">
            <img class="img" src="/img/retrato_1.jpg" alt="retrato">
            <img class="img" src="/img/retrato_2.jpg" alt="retrato">
        </div>

        <p class="parr-about">

            Nació en el hotel Flora de Roma (Italia) durante una larga estancia de sus padres. Pertenecía a una familia
            pudiente y fue bautizada en San Juan de Letrán. Su madre tenía una salud delicada y por ese motivo vivían
            habitualmente en Suiza donde se crio. En este país el papel de la mujer era más avanzado que en España por
            lo que pudo empezar a hacer deporte desde pequeña. Practicó billar subida a una silla, cuando era niña y no
            llegaba aún a la mesa; con cuatro años aprendió patinaje sobre hielo, obteniendo, más tarde, victorias en
            Saint-Moritz. Entre sus deportes también estaban la equitación, el esquí alpino, el automovilismo y, sobre
            todo, el tenis.

            En 1934 Lilí Álvarez se casó con el conde de Valdéne, un aristócrata francés. En 1939, perdió a su único
            hijo y la pareja pronto se separó. Volvió a su hogar en España en 1941 donde continuó activa en los deportes
            y comenzó a escribir sobre temas relacionados con las mujeres y temas religiosos.

            Fundó en 1960, junto con otras mujeres (María Laffitte y Pérez del Pulgar, Consuelo de la Gándara, Elena
            Catena Lopez, María Salas Larrazábal, Pura Salas Larrazábal, Concepción Borreguero Sierra, María Jiménez de
            Obispo el Valle) el Seminario de Estudios Sociológicos de la Mujer (SESM) con el objetivo de ser un espacio
            de reflexión, diálogo e investigación sobre las mujeres en España. Perteneció a él hasta su desaparición en
            1986.

            Participó en la fundación del partido Izquierda Democrática Cristiana en 1965. En 1968 fue invitada por el
            Ministerio de Asuntos Exteriores a Teherán para hablar sobre la eliminación de la discriminación de la
            mujer.

            Lilí Álvarez murió en Madrid el 8 de julio de 1998.
        </p>
    </div>

</body>

</html>