<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <title>Home</title>
</head>
<body>
    <div id="container">
        <h1 class="red">Lilí Álvarez</h1>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="works">Works</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="gallery">Gallery</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <img src="/img/Lilí_Álvarez_1.jpg" alt="Lilí Álvarez">
        <p class="parr">Elia María González-Álvarez y López-Chicheri, más conocida como Lilí Álvarez, 
            (Roma, 9 de mayo de 1905 – Madrid, 8 de julio de 1998) fue una polideportista, 
            escritora y periodista española. 
            Pionera del deporte español, fue la primera mujer española que participó en unas Olimpiadas.
        </p>
        </hr>
        <p class="parr">
            Practicó numerosos deportes, destacando como tenista y patinadora, 
            aunque también practicó esquí, alpinismo, equitación, billar y pilotó coches de carreras. 
            Fue una pionera del deporte femenino español y​ la primera mujer deportista española que 
            fue convocada a unos Juegos Olímpicos: los de invierno de Chamonix de 1924, que finalmente 
            se perdió por lesión. Pudo sin embargo acudir a los Juegos Olímpicos de París de 1924. 
            También fue una de las primeras mujeres en cubrir noticias deportivas..
            publicando sus primeras crónicas deportivas entre 1926 y 1937 en revistas europeas y 
            entre 1964 y 1968 en la revista Blanco y Negro y el diario ABC.
            ​ En 1998 recibió la Medalla de Oro al Mérito Deportivo aunque falleció y la recogió 
            su familia a título póstumo.​ Desde 2017 el Instituto de la Mujer y para la Igualdad 
            de Oportunidades de España en colaboración con el Consejo Superior de Deportes convoca 
            el Premio Lilí Álvarez de periodismo deportivo.
        </p>
    </div>
    






    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>