<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <title>works</title>
</head>
<body class="grey">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="works">Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="gallery">Gallery</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div>
        <h2 class="red">Trabajos</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="/img/lili-alvarez-patinaje-artistico.jpg" class="card-img-top img-card" alt="...">
              <div class="card-body">
                <h5 class="card-title red-2">Patinaje artístico</h5>
                <p class="card-text">Los deportes de invierno era lo que de verdad le gustaba, 
                  concretamente esquí alpino y patinaje artístico. Este último era su favorito y 
                  con él consiguió su primera victoria deportiva.
                  Fue con 11 años, cuando ganó su Primer Campeonato de Saint-Moritz, superando 
                  incluso a la campeona francesa Melle Joly. Cuatro años más tarde, en 1921, 
                  repitió resultado y también ganó la Medalla de Oro Internacional de Patinaje.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/lili-alvarez_car.jpg" class="card-img-top img-card" alt="...">
              <div class="card-body">
                <h5 class="card-title red-2">Automovilismo</h5>
                <p class="card-text">Probó la emoción del motor y participó en el Campeonato de Cataluña de Automovilismo.
                   Por aquel entonces no existía categoría femenina, así que lo hizo en la masculina. Ganó sin demasiada 
                   dificultad, convirtiéndose en la única mujer que ha conquistado esta competición.
                  La falta de competencia la hizo abandonar este deporte y fue entonces cuando decidió centrarse 
                  en su carrera como tenista.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/tenis.jpg" class="card-img-top img-card" alt="...">
              <div class="card-body">
                <h5 class="card-title red-2">Tenis</h5>
                <p class="card-text">En Juegos Olímpicos París 1924, fue convocada para jugar dobles junto con Rosa Torras. 
                  Hasta ese año no había habido ningún deporte femenino por lo que ambas se convirtieron en las Primeras 
                  Mujeres Españolas que compitieron en unos Juegos Olímpicos de Verano.
                  En Wimbledon alcanzó 3 finales consecutivas.
                  En Roland Garros 1929, ganó en la modalidad de dobles junto con Kea Bouman</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/img/periodista.jpg" class="card-img-top img-card" alt="...">
              <div class="card-body">
                <h5 class="card-title red-2">Periodista y Feminista</h5>
                <p class="card-text">En 1927 escribió su primer libro, publicado en Londres, y en 1930, firmó varios artículos 
                  deportivos para el periódico argentino «La Nación». Fue una de las primeras mujeres que cubrió noticias deportivas,
                   las cuales publicó en distintas revistas europeas.
                  Pero no se limitaba al deporte. En 1931 empezó a colaborar con el periódico Daily Mail, donde daba su punto de vista 
                  sobre la situación política española. Gracias a este trabajo, llegó a entrevistar a Clara Campoamor y Victoria Kent.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>