h1,h2,nav{
    text-align: center;
}

.red{
    color: rgb(118, 2, 2);
    font-size: 3em;
}
.red-2{
    color: rgb(118, 2, 2);
    font-size: 2em;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parr{
    margin: 30px 150px 30px 150px;
    text-align: center;
    size: 20px;
}
.parr-about{
    padding: 50px 0px 0px 50px;
    content: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 150px 30px 150px;
    text-align: center;
    text-size-adjust:initial;
}
.grey{
    background-color: lightgrey;
}
.row-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.img{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
}
.absolute{
    position: absolute;
}
.img-card{
    width: 200px;
    height: 500px;
}
.img-carrusel{
    width: 100%;
    height: 700px;
}
#not-found{
    text-align: center;
}